<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>true facts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>
    {{title}}
</h1>
<body>
    {{body}}
{{#if ehto}}
{{kakke}}
{{/if}}
</body>
<ul>
    {{#each facts}}
        <li>{{text}}</li>
    {{/each}}
    {{!-- kommenttiii --}}
    {{!-- helper funktiot
            {{funktionNimi parametri}}
            skriptis
           Handlebars.registerHelper('funktionNimi', (parametri) => {
           return parametri;
});
     --}}
</ul>
</body>
</html>